---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent/?access_token=224650346.7d7f826.ef7392aae6934a919523fc1e67582216
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '486'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"attribution":
        null, "tags": [], "type": "image", "location": null, "comments": {"count":
        3}, "filter": "Normal", "created_time": "1455732945", "link": "https://www.instagram.com/p/BB5ae2xhW8s/",
        "likes": {"count": 4}, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 320, "height": 320}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 150, "height": 150}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/10299831_224883447855873_746858986_n.jpg?ig_cache_key=MTE4NzA5NjQ0NjM5NTMxMzk2NA%3D%3D.2",
        "width": 612, "height": 612}}, "users_in_photo": [], "caption": {"created_time":
        "1455732945", "text": "Sometimes not so much!", "from": {"username": "justinpease1",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}, "id": "1187096449264218100"},
        "user_has_liked": false, "id": "1187096446395313964_224650346", "user": {"username":
        "justinpease1", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}}, {"attribution": null, "tags":
        [], "type": "image", "location": null, "comments": {"count": 1}, "filter":
        "Normal", "created_time": "1455732903", "link": "https://www.instagram.com/p/BB5aZrDhW8e/",
        "likes": {"count": 3}, "images": {"low_resolution": {"url": "ht[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1187096446395313964_224650346/comments?access_token=224650346.7d7f826.ef7392aae6934a919523fc1e67582216
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '485'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"created_time": "1455767793", "text":
        "funny because I could have taken off the skin and eaten the rest.", "from":
        {"username": "justinpease1", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12748419_1752098388353622_1993632129_a.jpg",
        "id": "224650346", "full_name": "Justin Pease"}, "id": "1187388768983019358"},
        {"created_time": "1455824284", "text": "Mmmmmmm", "from": {"username": "penneylicious",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "id": "269242292", "full_name": "Penney Gadget"}, "id": "1187862649099349490"}]}'
  recorded_at: Fri, 19 Feb 2016 06:01:24 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/followed-by?access_token=224650346.7d7f826.ef7392aae6934a919523fc1e67582216
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '482'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {}, "meta": {"code": 200}, "data": [{"username": "penneylicious",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/12224164_1509200229374661_1127130738_a.jpg",
        "id": "269242292", "full_name": "Penney Gadget"}, {"username": "artofmoxie",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/10706750_852405121512571_1455045308_a.jpg",
        "id": "16502037", "full_name": "Beth"}, {"username": "edgarduran303", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/11375236_1453807714913882_969507463_a.jpg",
        "id": "2126510311", "full_name": "Edgar Duran"}]}'
  recorded_at: Fri, 19 Feb 2016 06:01:25 GMT
recorded_with: VCR 3.0.1
